:root{
    --main-text-color:#232323;
    --secondary-text-color:#AEAEAE;
    --accent-color-green:#5DD167;
    --categories-accent:#E1FFE4;
    --border-color: #EAE8E8;
    --category-background: #EAE8E8;
    --fast-color:#F55B46;
    --categories-footer-color:#484848;
    --project-description-background:#23232380;
    
}
