/* bring in normalize.css styles */
@import-normalize;
*{
  box-sizing: border-box;
}
body {
  margin:0;
  font-family: 'Montserrat';
  line-height: 1.5;
  overflow-y: overlay;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
  margin: 0;
  padding: 0;
 }
 
 ul,
 ol {
  list-style: none;
  margin: 0;
  padding: 0;
 }
 
 img {
  display: block;
  max-width: 100%;
  height: auto;
 }

 a {
  text-decoration: none;
  color: inherit;
}
address {
  font-style: normal;
}
